<a href="https://colab.research.google.com/github/JordanDouglasRDM/Conhecendo_Python/blob/main/Jordan_Douglas_221_Est_Repeticao_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, implemente cada exercício com as **duas** estruturas de repetição.

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
for cont in range(11):
    print('Bm vindos a Fatec')

In [ ]:
cont = int(1)
while cont < 11:
    print('Bem vindos a Fatec')
    cont = cont + 1

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
for cont in range(5):
    name = str(input())
    print(F'Olá {name}')

In [ ]:
cont = int(1)
while cont < 5:
    name = str(input('Informe o nome: '))
    print(F'Olá {name}')
    cont = cont + 1

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
cont = 0
while cont < 16:
    print(cont)
    cont = cont + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
for cont in range(3,21):
    print(cont)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
cont = 1
while cont < 11:
    tab5 = int(cont * 5)
    print(F'{cont}x5 = {tab5}')
    cont = cont + 1

1x5 = 5
2x5 = 10
3x5 = 15
4x5 = 20
5x5 = 25
6x5 = 30
7x5 = 35
8x5 = 40
9x5 = 45
10x5 = 50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
maior = 0

for cont in range(1,11):
    idade = int(input(F'Informe a {cont}° idade: '))
    if idade >= 18:
        maior += 1
    cont += 1
print(F'{maior} pessoas são maiores de idade!')

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
cont = 0
par = 0
impar = 0
while cont < 24:
    num = int(input('Informe o número: '))
    if num % 2 == 0:
        par = int(par + 1)
    else:
        impar = int(impar + 1)
    cont = cont + 1
print(F'Existem {par} números pares e {impar} números ímpares!')

Informe o número: 2
Informe o número: 5
Informe o número: 8
Existem 2 números pares e 1 números ímpares!

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for): 
### Salário até 300, reajuste de 50%; 

###Salários maiores que 300, reajuste de 30%.

In [ ]:
for cont in range(1,11):
    salario = float(input(F'Informe o salário do {cont}° funcionário: '))
    if salario < 301:
        salario = salario + (salario * 0.50)
        print(F'O salário reajustado do {cont}° funcionário é de R${salario}')
    else:
        salario = salario + (salario * 0.30)
        print(F'O salário reajustado do {cont}° funcionário é de R${salario}')

Informe o salário do 1° funcionário: 500
O salário reajustado do 1° funcionário é de R$650.0
Informe o salário do 2° funcionário: 300
O salário reajustado do 2° funcionário é de R$450.0
Informe o salário do 3° funcionário: 890
O salário reajustado do 3° funcionário é de R$1157.0


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
cont = 1
soma = 0
while cont < 5:
    prec = int(input(F'Informe o valor para o {cont}° produto: '))
    soma = soma + prec 
    cont += 1
print(F'A soma total dos produtos é: R${soma}')

Informe o valor para o 1° produto: 25
Informe o valor para o 2° produto: 30
Informe o valor para o 3° produto: 5
Informe o valor para o 4° produto: 10
A soma total dos produtos é: R$70

###10. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
soma = 0
for cont in range(6):
    nota = int(input(F'Informe o valor da {cont}° nota: '))
    soma = int(soma + nota)
media = soma / 5
print(F'A média das notas informadas é: {media}')

Informe o valor da 0° nota: 10
Informe o valor da 1° nota: 8
Informe o valor da 2° nota: 6
Informe o valor da 3° nota: 8
Informe o valor da 4° nota: 7
Informe o valor da 5° nota: 2
A média das notas informadas é: 8.2 41

###11. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
cont = 1
valor = 0
soma_val = 0
while cont < 5:
    valor = int(input(F'Insira o valor do {cont}° produto: '))
    soma_val = int(soma_val + valor)
    cont = cont + 11
media = float(soma_val / 4)
print(F'A media dos valores é R${media}')

Insira o valor do 1° produto: 10
Insira o valor do 2° produto: 11
Insira o valor do 3° produto: 12
Insira o valor do 4° produto: 11
A media dos valores é R$11.0

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
soma_altura = 0
cont_alt = 0
for cont in range(1,5):
    idade = int(input(F'Informe a idade da {cont}° pessoa: '))
    altura = float(input(F'informe a altura da {cont}° pessoa: '))
    if idade > 20:
        soma_altura = float(soma_altura + altura)
        cont_alt = int(cont_alt + 1)
media_alt = float(soma_altura / cont_alt)
print(F'a média das altura das pessoas que são maiores que 20 anos é {media_alt}')

Informe a idade da 1° pessoa: 21
informe a altura da 1° pessoa: 1.80
Informe a idade da 2° pessoa: 25
informe a altura da 2° pessoa: 1.88
Informe a idade da 3° pessoa: 15
informe a altura da 3° pessoa: 1.54
Informe a idade da 4° pessoa: 110
informe a altura da 4° pessoa: 1.78
a média das altura das pessoas que são maiores que 20 anos é 1.82

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
soma_val = 0
cont = 1
qnt_tv = 0
while cont < 5:
    valor_tv = float(input(F'Informe o valor da {cont}° tv: '))
    if valor_tv > 1000:
        qnt_tv = qnt_tv + 1
        soma_val = float(soma_val + valor_tv)
        media_val = float(soma_val / qnt_tv)
    cont += 1
print(F'A média do valor das tvs que possuem valor maior que R$1000, é R${media_val}.')

Informe o valor da 1° tv: 1500
Informe o valor da 2° tv: 1350
Informe o valor da 3° tv: 999
Informe o valor da 4° tv: 1000
A média do valor das tvs que possuem valor maior que R$1000, é R$1425.0.

###14. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
print('Tabuada do número 3: ')
for cont in range(1,11):
    tab3 = int(cont * 3)
    print(F'3X{cont} = {tab3}')
print('\n\n')
print('Tabuada do número 4: ')
cont = 1
while cont < 11:
    tab4 = int(cont * 4)
    print(F'4X{cont} = {tab4}')
    cont = cont + 1
print('\n\n')
print('Tabuada do número 5: ')
for cont in range(1,11):
    tab5 = int(cont * 5)
    print(F'5X{cont} = {tab5}')
print('\n\n')
print('Tabuada do número 6: ')
cont = 1
while cont < 11:
    tab6 = int(cont * 6)
    print(F'6X{cont} = {tab6}')
    cont = cont + 1
print('\n\n')
print('Tabuada do número 7: ')
for cont in range(1,11):
    tab7 = int(cont * 7)
    print(F'7X{cont} = {tab7}')

Tabuada do número 3:
3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27
3X10 = 30



Tabuada do número 4:
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
4X10 = 40



Tabuada do número 5:
5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
5X10 = 50



Tabuada do número 6:
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36
6X7 = 42
6X8 = 48
6X9 = 54
6X10 = 60



Tabuada do número 7:
7X1 = 7
7X2 = 14
7X3 = 21
7X4 = 28
7X5 = 35
7X6 = 42
7X7 = 49
7X8 = 56
7X9 = 63
7X10 = 70

###15. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
media_idade_geral = 0
soma_das_media = 0
soma_h = 0
soma_m = 0
qnt_modulos = 3
qnt_alunos_modulos = 3
for i in range(1,4):
    print(F'Dados dos alunos do {i}° módulo:')
    soma_idade = 0
    contM = 0
    contF = 0
    for j in range(1,4):
        gen = str(input(F'Informe o GÊNERO do {j}° aluno (m ou f):'))
        if gen == "m":
            contM = contM + 1
        elif gen == "f":
            contF = contF + 1
        idade = int(input(F'Informe a IDADE do {j}° aluno: '))
        soma_idade = soma_idade + idade
        media_idade = soma_idade / qnt_alunos_modulos
    soma_das_media = soma_das_media + media_idade
    media_idade_geral = soma_das_media / qnt_modulos
    print('\n\n')
    print(F'Tem {contM} homens no {i}° módulo e {contF} mulheres')
    print(F'A média da idade dos alunos no {i}° módulo é {media_idade}')
    print('\n\n')
    soma_h = soma_h + contM
    soma_m = soma_m + contF
print('\n\n')
print(F'A soma da quantidade de todos os homens do curso é {soma_h}, e de mulheres é {soma_m}')
print(F'A média das idades de todo o curso {media_idade_geral:.2f}')

Dados dos alunos do 1° módulo:
Informe o GÊNERO do 1° aluno (m ou f):m
Informe a IDADE do 1° aluno: 25
Informe o GÊNERO do 2° aluno (m ou f):f
Informe a IDADE do 2° aluno: 63
Informe o GÊNERO do 3° aluno (m ou f):m
Informe a IDADE do 3° aluno: 14



Tem 2 homens no 1° módulo e 1 mulheres
A média da idade dos alunos no 1° módulo é 34.0



Dados dos alunos do 2° módulo:
Informe o GÊNERO do 1° aluno (m ou f):f
Informe a IDADE do 1° aluno: 18
Informe o GÊNERO do 2° aluno (m ou f):m
Informe a IDADE do 2° aluno: 19
Informe o GÊNERO do 3° aluno (m ou f):f
Informe a IDADE do 3° aluno: 20



Tem 1 homens no 2° módulo e 2 mulheres
A média da idade dos alunos no 2° módulo é 19.0



Dados dos alunos do 3° módulo:
Informe o GÊNERO do 1° aluno (m ou f):m
Informe a IDADE do 1° aluno: 22
Informe o GÊNERO do 2° aluno (m ou f):f
Informe a IDADE do 2° aluno: 24
Informe o GÊNERO do 3° aluno (m ou f):m
Informe a IDADE do 3° aluno: 26



Tem 2 homens no 3° módulo e 1 mulheres
A média da idade dos alunos no 3° módulo é 24.0






A soma da quantidade de todos os homens do curso é 5, e de mulheres é 4
A média das idades de todo o curso 25.666666666666668